.btn {
	background-color: $colour--prototype;
	border: none;
	border-radius: 2px;
	color: $colour--black;
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	padding: 12px 20px;
	text-transform: uppercase;
	display: inline-block;
	transition: .2s;

	@include hover-focus {
		background-color: $colour--prototype-2;
		text-decoration: none;
	}

	&--elipsis {
		border-radius: 50px;
	}

	&--lg {
		font-size: 22px;
		padding: 25px 20px;
	}

	&--block {
		clear: both;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
