.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.2;
}

.h1,
h1 {
	color: #000;
	font-size: 36px;

	@include media-breakpoint-up(sm) {
		font-size: 70px;
	}
}

.h2,
h2 {
	font-size: 26px;

	@include media-breakpoint-up(sm) {
		font-size: 36px;
	}
}

.h3,
h3 {
	font-size: 22px;

	@include media-breakpoint-up(sm) {
		font-size: 24px;
	}
}

.h4,
h4 {
	font-size: 18px;

	@include media-breakpoint-up(sm) {
		font-size: 18px;
	}
}
