.site-header {
	border-radius: 7px 7px 0 0;
	padding: 25px;
	display: block;
	color: $colour--white;
	background: $colour--primary;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: none
		}
	}

	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	nav {
		display: block;
		float: right;

		ul {
			margin: 0;
			list-style-type: none;
		}

		ul li {
			float: left;
			margin-left: 20px;

			a {
				display: block;
				margin-top: 4px;
				line-height: 22px;

				&:hover,
				&:focus,
				&.active {
					border-bottom: 2px solid $colour--white;
				}

				&.active {
					cursor: default;
				}
			}
		}
	}//nav

	&_heading {
		float: left;
	}//.site-header_heading
}
