.site-header {
	position: relative;
}

.site-logo {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;

	&_box {
		background: $colour--youtube;
		display: inline-block;
		padding: 15px;
		margin-top: 30px;
	}
}
